<% content_for :title do %><%= @page.title.html_safe %><% end %>

<% content_for :header_class do %>
    <% if ['clients','trademarks','programs','patents','copyright'].include?(@page.slug) %>
        page-header_2
    <% elsif ['contacts','courts','contracts','forms'].include?(@page.slug) %>
        page-header_3
    <% end %>
<% end %>

<% content_for :content do %>
    <%= @page.content.html_safe %>

    <% if @page.service and @page.service.strip.length != 0 %>
        <section class="more">
            <h4 class="title more-title">Смежные услуги:</h4>
            <%= @page.service.html_safe %>
        </section>
    <% end %>

    <% if @page.info and @page.info.strip.length != 0 %>
        <section class="more">
            <h4 class="title more-title">Полезная информация:</h4>
            <%= @page.info.html_safe %>
        </section>
    <% end %>

<% end %>